*.iml
.gradle
keystore.properties
*.apk
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

gradlew\.bat

gradlew

gradle/wrapper/gradle-wrapper\.jar
app/src/main/gen/nl/devolksbank/nlhelpu/BuildConfig.java
app/src/main/gen/nl/devolksbank/nlhelpu/Manifest.java
app/src/main/gen/nl/devolksbank/nlhelpu/R.java
